<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>user列表</title>
</head>
<body>
<button id="queryCFUsers">查询</button>
<table id="CFUser_table">
</table>

<script type="text/javascript" src="js/jquery-3.6.0.js"></script>
<script>
    // 绑定按钮点击事件
    $("#queryCFUsers").click(function () {
        $.ajax({
            type: 'get',
            url: '/listAll',
            // data: {"status": 1},
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.code && "200" == result.code) {
                    showData(result.data);
                } else {
                    alert("未能获取CFUser！");
                }
            }, error: function (e) {//响应不成功时返回的函数
                console.log(e, 'error');
            }
        });
    });

    // 将数据渲染在表格中的方法
    function showData(data) {
        var table = $("#CFUser_table");
        table.empty();
        //拼接表头
        table.append("<tr></tr><td>id</td><td>username</td><td>password</td></tr>");
        for (var i = 0; i < data.length; i++) {
            //拼接表格的行和列
            var str = "<tr><td>" + data[i].id + "</td><td>" + data[i].username + "</td><td>" + data[i].password + "</td></tr>";
            //追加到table中
            table.append(str);
        }
    }
</script>
</body>
</html>
